In [1]:
result = []
for i in range(10):
    result.append(i)
    
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
result2 = [i for i in range(10)] #list comprehension 속도 월등히 빠름
print(result2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)
    
print(result)

[0, 2, 4, 6, 8]

In [6]:
result2 = [i for i in range(10) if i%2 == 0 ]
print(result2)

[0, 2, 4, 6, 8]

In [7]:
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)
    else:
        result.append(99)
    
print(result)

[0, 99, 2, 99, 4, 99, 6, 99, 8, 99]

In [13]:
result2 = [i if i%2 == 0 else 99 for i in range(10)]
print(result2)

[0, 99, 2, 99, 4, 99, 6, 99, 8, 99]

In [1]:
word1 = 'Hello'
word2 = 'World'
result = [i + j for i in word1 for j in word2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [5]:
word1 = 'Hello'
word2 = 'World'
result = []
for i in word1:
    for j in word2:
        result.append(i+j)
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [8]:
case1 = ['A', 'B', 'C']
case2 = ['A', 'B', 'C']
result = [i + j for i in case1 for j in case2 if i !=j]
print(result)

['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

In [10]:
case1 = ['A', 'B', 'C']
case2 = ['A', 'B', 'C']
result = []
for i in case1:
    for j in case2:
        if i != j:
            result.append(i+j)
print(result)

['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

In [12]:
#enumerate
for i, v  in enumerate(['tic', 'tac', 'toe']): #iterable data를 enumerate로 감싸면 index를 쓸 수 있다
    print(i, v)

0 tic
1 tac
2 toe

In [11]:
result = {i:j for i,j in enumerate("""The Dark Tower is a series of eight books and 
one short story written by American author Stephen King""".split())}
print(result)

{0: 'The', 1: 'Dark', 2: 'Tower', 3: 'is', 4: 'a', 5: 'series', 6: 'of', 7: 'eight', 8: 'books', 9: 'and', 10: 'one', 11: 'short', 12: 'story', 13: 'written', 14: 'by', 15: 'American', 16: 'author', 17: 'Stephen', 18: 'King'}

In [15]:
result = dict()
for i, j in enumerate("""The Dark Tower is a series of eight books and 
one short story written by American author Stephen King""".split()):
    result[i] = j
print(result)

{0: 'The', 1: 'Dark', 2: 'Tower', 3: 'is', 4: 'a', 5: 'series', 6: 'of', 7: 'eight', 8: 'books', 9: 'and', 10: 'one', 11: 'short', 12: 'story', 13: 'written', 14: 'by', 15: 'American', 16: 'author', 17: 'Stephen', 18: 'King'}

In [18]:
new_tuple = tuple(x ** 2 for x in range(10) if x % 2 == 0)
print(new_tuple)

(0, 4, 16, 36, 64)

In [17]:
new_tuple = list()
for x in range(10):
    if x % 2 == 0 :
        new_tuple.append(x**2)
new_tuple = list(new_tuple)
print(new_tuple)

[0, 4, 16, 36, 64]

In [20]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3', 'b4']

for a,b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [21]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [22]:
result = [sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))]
print(result)

[111, 222, 333]

In [24]:
result = []
for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300)):
    result.append(sum(x))
    
print(result)

[111, 222, 333]

In [26]:
def variable_param(a, *args): #가변인자를 받는 함수 (*를 붙이면 이 파라미터는 특이: 여러개가 들어오는데 얘를 packing해서 하나로 봐라)
    print(a)
    print('-' * 20)
    print(args)
    print('-' * 20)
    print(type(args))
#변수를 선언할 때 *을 붙이면 packing

In [27]:
variable_param(1, 2, 3, 4, 5, 6) #tuple 형태로 packing해서 받음

1
--------------------
(2, 3, 4, 5, 6)
--------------------
<class 'tuple'>

In [29]:
def unpack_func(a, args):
    print(a, args)
    print('-' * 20)
    print(*args) #변수를 사용할 때 *을 붙이면 unpacking 하라는 뜻
    print(type(args))

In [30]:
unpack_func(1, (2,3,4,5,6))

1 (2, 3, 4, 5, 6)
--------------------
2 3 4 5 6
<class 'tuple'>

In [35]:
 def dict_args(a, **kargs): #dict type은 관례적으로 k를 붙여서 **kargs
    print(a)
    print(kargs)

In [38]:
dict_args(1, name='Tom', age=23) #1은 a로 들어가고, 나머지는 packing해서 들어감

1
{'name': 'Tom', 'age': 23}

In [39]:
variable_param(1, (2,3,4,5,6))

1
--------------------
((2, 3, 4, 5, 6),)
--------------------
<class 'tuple'>

In [40]:
variable_param(1, *(2,3,4,5,6))

1
--------------------
(2, 3, 4, 5, 6)
--------------------
<class 'tuple'>

In [42]:
def dict2_func(**args): #풀어헤친 것 다시 packing
    print(args) #list, tuple은 *로 packing, dict는 **로 packing

In [43]:
d = {'name': 'Tom', 'age':25}
dict2_func(**d) #**d: 풀어헤친 것

{'name': 'Tom', 'age': 25}

In [44]:
def dict3_func(args):
    print(args)

In [45]:
dict3_func(d)

{'name': 'Tom', 'age': 25}

In [46]:
dict3_func(**d)

TypeError: dict3_func() got an unexpected keyword argument 'name'

In [47]:
print(**d)

TypeError: 'name' is an invalid keyword argument for print()